* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

section.main-container {
    display: flex;
    height: 100vh;
    background-color: #202124;
}

nav.top-nav {
    width: 100vw;
    display: flex;
}

nav.top-nav ul {
    display: flex;
    gap: 24px;
    margin-left: auto;
    color: white;
}