* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #202124;
}

nav.top-nav {
    width: 100vw;
    display: flex;
}

nav.top-nav ul {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

i.fa-user-circle {
    
}

section.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

section.main-container img {
    width: 20%;
    height: auto;
}

section.main-container input {
    box-sizing: border-box;
    border: 1px solid black;
    width: 25%;
    height: 5%;
    margin-top: 3em;
    margin-bottom: 2em;
}

i.fa-search {
    position: absolute;
    left: 38%;
    top: 47.5%;
}

div.buttons {
    display: flex;
    gap: 12px;
}

div.buttons button {
    box-sizing: border-box;
    border: 1px solid black;
    height: 40px;
    width: fit-content;
    letter-spacing: 1.2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5%;
    margin-bottom: 3em;
}

section.main-container span {
    color: blue;
}

section.location {
    display: flex;
    height: 5vh;
}

section.location p {
   align-self: center;
   padding-left: 1em;
}

footer.main-footer {
    display: flex;
    height: 25px;
}

footer.main-footer ul {
    display: flex;
    gap: 24px;
    padding-left: 1em;
}

footer.main-footer ul.second-list {
    margin-left: auto;
    padding-right: 1em;
}
