* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav.top-nav {
    width: 100vw;
    display: flex;
}

nav.top-nav ul {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

section.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

section.main-container img {
    width: 20%;
    height: auto;
}

section.main-container input {
    box-sizing: border-box;
    border: 1px solid b;
    width: 25%;
    height: 5%;
    margin-top: 3em;
    margin-bottom: 2em;
}

div.buttons {
    display: flex;
    gap: 12px;
}

div.buttons button {
    box-sizing: border-box;
    border: 1px solid black;
    height: 40px;
    width: fit-content;
    letter-spacing: 1.2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5%;
    margin-bottom: 3em;
}

section.location {
    background-color: #202124;
}

footer.main-footer {
    display: flex;
    background-color: violet;
    height: 25px;
}

footer.main-footer ul {
    display: flex;
    gap: 24px;
}